<%= form_with(model: category, class: "form-container") do |form| %>
  <% if category.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-wrapper">
    <%= form.label :name, class: "label" %>
    <%= form.text_field :name, class: "input-field" %>
  </div>

  <div class="input-wrapper">
    <%= form.label :description, class: "label" %>
    <%= form.text_field :description, class: "input-field" %>
  </div>

  <div class="button-container">
    <%= form.submit "Create Category", class: "report-button" %>
    <%= link_to 'Back to categories', categories_path, class: "cancel-button" %>
  </div>
<% end %>
