<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<table class="category-table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td><%= link_to "Show this category", category, class: "show-button" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="pagination-links">
  <%= link_to "New category", new_category_path, class: "new-button" %>
  <%= paginate @categories %>
</div>
