<p class="notice-message"><%= notice %></p>

<div class="show-container">
  <%= render @category %>

  <div class="button-container">
    <%= link_to "Edit this category", edit_category_path(@category), class: "edit-button" %>
    <%= link_to "Back to categories", categories_path, class: "back-button" %>
    <%= button_to "Destroy this category", @category, method: :delete, class: "destroy-button" %>
  </div>
</div>