<%= form_with(model: operation, class: "form-container") do |form| %>
  <% if operation.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(operation.errors.count, "error") %> prohibited this operation from being saved:</h2>
      <ul>
        <% operation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-wrapper">
    <%= form.label :amount, class: "label" %>
    <%= form.text_field :amount, class: "input-field" %>
  </div>

  <div class="input-wrapper">
    <%= form.label :odate, class: "label" %>
    <%= form.datetime_field :odate, class: "input-field" %>
  </div>

  <div class="input-wrapper">
    <%= form.label :description, class: "label" %>
    <%= form.text_field :description, class: "input-field" %>
  </div>

  <div class="input-wrapper">
    <%= form.label :category_id, class: "label" %>
    <%= form.select :category_id, @categories, prompt: 'Select a Category', class: "select-field" %>
  </div>

  <div class="input-wrapper">
    <%= form.label :otype, class: "label" %>
    <%= form.select :otype, @types, prompt: 'Select Operation Type', class: "select-field" %>
  </div>

  <div class="button-container">
    <%= form.submit "Create Operation", class: "report-button" %>
    <%= link_to 'Back to operations', operations_path, class: "cancel-button" %>
  </div>
<% end %>
