<div id="<%= dom_id operation %>" class="show-details">
  <p>
    <strong>Amount:</strong>
    <%= operation.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= operation.odate %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= operation.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= operation.category_id %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= operation.otype %>
  </p>
</div>
