<p class="notice-message"><%= notice %></p>

<div class="show-container">
  <%= render @operation %>

  <div class="button-container">
    <%= link_to "Edit this operation", edit_operation_path(@operation), class: "edit-button" %>
    <%= link_to "Back to operations", operations_path, class: "back-button" %>
    <%= button_to "Destroy this operation", @operation, method: :delete, class: "destroy-button" %>
  </div>
</div>